.LandingPageContainer {
    height:100vh;
    width: 70vw;
 
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    font-size: 50px;
    transition: transform 2s ease-out, opacity 1s ease-out;
}

.LandingPageOuterContainer {
    height:100vh;
    width: 100vw;
  
    background-color: black;
 
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.LandingPageContainer p {
    color:crimson;
    font-size: 30px;
    margin:0;
align-self: flex-end;
}

h1{
    margin-bottom: 5px;
}
/* Initial state */
.slide-in-horizontal {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;;
  }
  
  .slide-in-vertical {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  /* Final state */
  .slide-in-horizontal.visible, .slide-in-vertical.visible {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-in-vertical.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .LoginSignupButtons{
    display: flex;
  flex-direction: column;
    opacity:0;
    transition: opacity ease-in 3s;
  }
  .LoginSignupButtons.visible{
    display: flex;
    opacity:1
  }
  
  .LoginSignupButtons button {
    border: 2px solid rgba(255, 255, 255, 0.367);
    background-color: black;
    color: white;
   
    width: 13rem

  }

  .LoginSignupButtons button:hover {
 cursor: pointer;
    background-color: rgba(245, 245, 245, 0.366);
  

  }

  
 

 .LoginSignupButtons {
  font-size: 20px;
 }

 .SignUp {
  color: crimson;
  text-decoration: underline;
 }

 .SignUp:hover{
  cursor: pointer;
 }

 .LoginOrSignup{
  
  width: 100%;
  display: flex;
  flex-direction: column;
 }

 
 .LoginOrSignup button{
  width: 100%;
  background-color: rgba(240, 248, 255, 0);
  border:2px solid white;
  color: white;
  margin-bottom: 3px;
 }

 .LoginOrSignup button:hover{
background-color: rgba(255, 255, 255, 0.535);
 }

 .Text{
  transform: translateY(50%);
 }

 .Text.Top{
  transform: translateY(0);
  transition: transform 1s ease-in
 }

 @media (max-width:1000px){
  .Text{
    font-size: 25px;
  }

  p{
    font-size: 20px;
  }
 }